name: Format
on:
    push:
    pull_request_target:
    workflow_dispatch:

permissions: write-all

jobs:
    format:
        name: Format
        runs-on: ubuntu-24.04

        steps:
            - name: Checkout
              uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
              with:
                  token: ${{secrets.TOKEN || secrets.GITHUB_TOKEN}}
                  ref: ${{github.head_ref}}
                  repository: ${{github.event.pull_request.head.repo.full_name}}

            - name: Setup Node.JS
              uses: actions/setup-node@49933ea5288caeca8642d1e84afbd3f7d6820020 # v4.4.0

            - name: Install
              run: npm install

            - name: Format
              run: npm run format

            - name: Assert clean
              if: startsWith(github.ref_name, 'dependabot/') == true
              run: if [[ `git status --porcelain` ]]; then exit 1; fi

            - name: Commit
              uses: stefanzweifel/git-auto-commit-action@778341af668090896ca464160c2def5d1d1a3eb0 # v6.0.1
              with:
                  commit_message: Format
